<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Edit Employee Report</h1>
	</div>
	<div class="panel-body">
		<%= render 'form', employee_report: @employee_report %>
	</div>
</div>
<%= link_to 'Show', @employee_report, class: "btn btn-xs btn-info" %>
<%= link_to 'Back', :back, class: "btn btn-xs btn-danger" %>
