<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>New Employee Report</h1>
	</div>
	<div class="panel-body">
		<%= render 'form', employee_report: @employee_report %>
	</div>
</div>
<%= link_to 'Back', :back, class: "btn btn-xs btn-danger" %>