
<p>
  <strong>Report type:</strong>
  <%= @employee_report_type.Report_Type %>
</p>

<%= link_to 'Edit', edit_employee_report_type_path(@employee_report_type) %> |
<%= link_to 'Back', employee_report_types_path %>
