<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-clipboard"></i> Weekly Reports</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li role="presentation" 
            <% if current_page?("/")%>
             class="active"
            <% elsif current_page?("/manager")%>
             class="active"
            <% elsif current_page?("/root")%>
             class="active"    
            <% end %>> 
            <a href="/"><i class="fa fa-home"></i> Home</a>
          </li>
          <li role="presentation"<% if current_page?("/employee_reports")%> class="active" <% end %>>
            <a href="/employee_reports"><i class="fa fa-print"></i> Reports</a>
          </li>
          <!-- <li role="presentation"<% if current_page?("/employee_report_types")%> class="active" <% end %>>
            <a href="/employee_report_types">Report Types</a>
          </li> -->
          <!-- <li role="presentation"<% if current_page?("/employee_tasks")%> class="active" <% end %>>
            <a href="/employee_tasks">Tasks</a>
          </li> -->
      </ul>
      <% end %>  
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="navbar-text">Hello, <%= current_user.name %> <%= current_user.surname %></li>
        <%  end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if !user_signed_in? %>
            <li><a href="/users/sign_in"> Log In</a></li>
            <li><a href="/users/sign_up"> Sign Up</a></li>
          <% else %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users/edit"> Edit Account</a></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% end %>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>